*{
    margin:0; /*margen para los cuatro lados*/
    padding: 0; /*espacio entre el contenido del elemento y su borde*/
    box-sizing: border-box; /*calcular el ancho y alto total de un elemento.
    cualquier valor que se especifique de borde o de relleno para el ancho o alto de un elemento.*/
}
body{
    font-family: 'open sans'; /*tipo de letra*/
}
.contenedor{
    padding: 60px 0;
    width: 90%; /*ancho*/
    max-width: 1000px; /*ancho maximo*/
    margin: auto; 
    overflow: hidden; /*especifica contenido recortado y no muestra barras de posicion*/
}
.titulo{
    color: black;
    font-size: 30px; /*tamaño de letra*/
    text-align: center; /*alineacion del texto*/
    margin-bottom: 60px; /*margen de abajo*/
}

/*Header*/
header{
    width: 100%;
    height: 600px; /*alto*/
    background: #ebe5e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(345, 2%, 58%, 0.459), hsla(14, 96%, 50%, 0.555)), url(../src/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 1%, 47%, 0.459), hsla(0, 98%, 49%, 0.582)), url(../src/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover; /*tamaño de las imagenes de fondo, escala la imagen al > tamaño sin estirarla*/
    background-attachment: fixed; /*posicion de imagen fija*/
    position: relative; /*posicionamiento en base al documento, desplazado en relacion asimismo*/
}
nav{
    text-align: right;
    padding: 30px 50px 0 0; /*arriba-derecha-abajo-izquierda*/
}
nav > a{
    color: white;
    font-weight: 300; /*grueso de la letra*/
    text-decoration: none; /*formato de texto*/
    margin-right: 10px; 
}
nav > a:hover{
    text-decoration: underline; /*subrayar*/
}
header .textos-header{
    display:flex; /*elemento flexible para alterar sus dimensiones y llenar el espacio disponible.*/
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*especifica cómo colocar los objetos flexibles en el contenedor flexible
    El eje principal del contenedor flexible es el mismo que el eje del bloque. */
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: white;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.wave{
    position: absolute; /*removido del flujo normal del documento, no se crea espacio alguno para el elemento en el esquema de la página.*/
    bottom: 0; /*distancia entre el borde inferior del elemento y el borde inferior de su bloque contenedor.*/
    width: 100%;
}

/*Concepto y Objetivos*/
.contenedor-sobre-carrera{
    display: flex; /*establece los tipos de visualización interna y externa de un elemento.
    El elemento se comporta como un elemento de bloque y establece su contenido de acuerdo con el modelo de flexbox*/
    justify-content: space-evenly;
}

.imagen-acercacarrera{
    width: 48%;
}
.sobre-carrera .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{ /*un span es un contenedor, estilo al texto*/
    background: red;
    color:white;
    border-radius: 50%;
    display: inline-block; /*crea cajas que son de bloque y en línea de forma simultánea.*/
    text-align: center; 
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5); /*añade efectos de sombra alrededor del marco de un elemento.
    desplazamientos en X e Y, los radios de desenfoque y dispersión, y el color relativos al elemento.*/
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.contenido-textos ul{
    padding: 0px 0px 30px 30px;
    font-weight: 300;
    text-align: justify;
}

/*galeria*/

.portafolio{
    background: white;

}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /*Los elementos flex son colocados en varias líneas. */
}

.imagen-port{
    width: 30%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*El contenido se dimensiona para mantener su relación de aspecto mientras 
    llena el contenedor completo del elemento.*/
    display: block; /*	El elemento genera un cuadro de elemento de bloque.*/
}

.hover-galeria{ /*El efecto Hover consiste en la alteración del aspecto de un elemento de la interfaz 
    gráfica​ cuando se sitúa el puntero sobre el mismo*/
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0); /*Especifica una operación de escalado 2D descrita por [sx, sy].*/
    background: red;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color:white;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Estudiantes Opiniones*/

.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: red;
    display:flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

.cards .card img{
    width: 100px;
    height: 120px ;
    object-fit: cover;
    border: 3px solid white; /*permite definir de golpe todos los bordes en una única regla de la hoja de estilos.*/
    border-radius: 50%;
    display:block;
} 
.cards .card > .contenido-texto-card{
    width: 60%;
    color:white;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*Grados y Certificaciones*/

.acerca-servicio{
    background: white;
    padding-bottom: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 24%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin: 5px;
}

/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display:flex;
    width: 90%;
    justify-content: space-evenly;
    margin:auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color:white;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.content-foo p a{
    color: #ccc;
    text-decoration: none;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
