*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2px;
}
/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #ebe5e9, url(../src/fondoprofe.jpeg);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(345, 2%, 58%, 0), hsla(0, 0%, 100%, 0)), url(../src/fondoprofe.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 1%, 47%, 0), hsla(0, 0%, 100%, 0)), url(../src/fondoprofe.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display:flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: whitesmoke;
}
/*galeria*/
.Portafolio3{
    width: 85%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3e;
    display:grid; /*El elemento se comporta como un elemento de bloque y establece su contenido de acuerdo con el modelo de cuadrícula.*/
    grid-template-columns: repeat(3,1fr); /*La frunidad (una "fracción") se puede utilizar al definir cuadrículas como 
    cualquier otra longitud de CSS */
    grid-gap: 30px; /*que especifica los canales entre las filas y las columnas de la cuadrícula.*/
}
.item{
    background-color: #fff;
    cursor:pointer;
    box-shadow: 0 0 5px 0 rgba (0,0,0,1);
    transition:all 300ms;
}
.iterm::after{
    content:"";
    background-color: rgba(179,229,252,.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform:scale(0);
    transition: all 300ms;
    opacity: 0;
}
.item:hover::after{
    opacity: 1;
    transform: scale(1); /*despues del efecto de agrandar*/
}
.item:hover{
    transform: scale(1.05); /*hace el efecto de agrandar*/
}
.item-text h3{
    text-align: center;
}
.item-text ul{
    text-align: justify;
    padding: 5px;
}
.item-text{
    padding:3em;
    line-height: 1.5em;
}
.item-img{
    max-width: 95%;
    display: block;
}
@media screen and (min-width:590px) {
    .Portafolio3{
        grid-template-columns: repeat(2,1fr); 
    }
    
}
@media screen and (min-width:960px) {
    .Portafolio3{
        grid-template-columns: repeat(3,1fr);
    }
    
}

/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display:flex;
    width: 90%;
    justify-content: space-evenly;
    margin:auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color:white;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.content-foo p a{
    color: #ccc;
    text-decoration: none;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}